@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Karla", sans-serif;
  line-height: 1.5;
  font-weight: 200;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#dark {
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent 15%,
    #000 35%,
    #000 65%,
    transparent 85%
  );
  filter: invert(70%) sepia(0%) saturate(1%) hue-rotate(237deg) brightness(89%)
    contrast(84%);
}

#light {
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent 15%,
    #000 35%,
    #000 65%,
    transparent 85%
  );
  filter: invert(30%) sepia(0%) saturate(0%) hue-rotate(163deg) brightness(98%)
    contrast(83%);
}

#underline {
  position: relative;
}

#underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.y {
  stroke: #555555;
}

#send-light {
  filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(141deg) brightness(95%)
    contrast(81%);
}

#send-dark {
  filter: invert(35%) sepia(0%) saturate(577%) hue-rotate(153deg)
    brightness(94%) contrast(87%);
}

#arrow-light {
  filter: invert(100%) sepia(61%) saturate(2%) hue-rotate(70deg)
    brightness(107%) contrast(100%);
}

#arrow-light-gray {
  filter: invert(64%) sepia(1%) saturate(0%) hue-rotate(336deg) brightness(95%)
    contrast(93%);
}

#arrow-bg-light {
  filter: invert(96%) sepia(1%) saturate(0%) hue-rotate(148deg) brightness(92%)
    contrast(92%);
}

#arrow-dark {
  filter: invert(18%) sepia(0%) saturate(0%) hue-rotate(106deg) brightness(95%)
    contrast(82%);
}

#arrow-bg-dark {
  filter: invert(0%) sepia(4%) saturate(3962%) hue-rotate(318deg)
    brightness(92%) contrast(76%);
}

#icon-dark {
  filter: invert(70%) sepia(0%) saturate(1%) hue-rotate(237deg) brightness(89%)
    contrast(84%);
}

#icon-light {
  filter: invert(30%) sepia(0%) saturate(0%) hue-rotate(163deg) brightness(98%)
    contrast(83%);
}

#rect-button {
  display: inline-block;
}

#pill-button-hover,
#pill-button-hover-dark,
#rect-button-hover,
#rect-button-hover-dark {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#pill-button-hover:before,
#pill-button-hover-dark:before,
#rect-button-hover:before,
#rect-button-hover-dark:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #dadada;
  border-radius: 9999px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

#rect-button-hover:before,
#rect-button-hover-dark:before {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

#pill-button-hover:hover,
#rect-button-hover:hover {
  color: #6e6e6e;
}

#pill-button-hover:hover:before,
#pill-button-hover-dark:hover:before {
  -webkit-transform: scaleX(1.05);
  transform: scaleX(1.05);
}

#rect-button-hover:hover:before,
#rect-button-hover-dark:hover:before {
  -webkit-transform: scaleX(1.01);
  transform: scaleX(1.01);
}

#pill-button-hover-dark:before {
  background: #1f1f1f;
}

#rect-button-hover-dark:before {
  background: #080808;
}

#rect-button-hover:before {
  background: #fafafa;
}

#pill-button-hover-dark:hover,
#rect-button-hover-dark:hover {
  color: #dadada;
}

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-[#aeaeae];
    @apply dark:bg-[#191919];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-dark-gray;
    @apply dark:bg-light-gray;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-medium-gray;
    @apply dark:bg-dark-gray;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
